@use '@styles/layout';

.container {
	width: var(--site-width-mobile);
	
	@include layout.center;
	
	&:not(.wide) {
		max-width: var(--site-width);
	}

	&.wide {
		max-width: var(--site-width-wide);
	}
}
